.total-launches {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  animation: countUp 3s ease-in-out forwards;
  margin: 5px;
}

.total-launches-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.total-launches-icon {
  color: #ffffff !important;
}

.total-launches {
  font-size: 24px;
  margin: 0 10px;
}

@keyframes countUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
